.logo{
    float: left;
    height: 30px;
}
.logo img {
    margin-left: 49px;
    margin-top: 16px;
    height: 60px;
}


.right ul{
    float: right;
    
}

.right ul li{
        display: inline;
        padding-left: 20px;
        padding-left: 29px;
        font-size: 44px;
        margin-right: 46px;
}

.main img{
    
    height:360px;
    width: 100%;
}



.footer{
    background-color: black;
    height: 600px;
    margin-top: 14px;
}

.footer img {
    width: 160px;
    height: 167px;
    margin-top: 69px;
    margin-left: 173px;
}



.para p {
    color: whitesmoke;
    float: right;
    margin-left: 29pc;
    font-size: 34px;
    margin-top: -198px;
}

.footer .column {
    float: left;
    width: 31.33%;
    padding: 10px;
    height: 300px;
}

/* Clear floats after the columns */
.footer .row:after {
    content: "";
    display: table;
    clear: both;
}
.footer li{
    color: wheat;
    font-size: 27px;
}
.footer h2{
    color: white;
    font-size: 35px;
}


.iml img {
    height: 100%;
}


.abc h3 {
    float: right;
    font-size: 38px;
    text-align: center;
    margin-top: -307px;
}


.comp p {
    float: right;
    margin-top: -241px;
    font-size: 21px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    margin-right: 21px;
}


.comp3 p {
    float: right;
    margin-top: -241px;
    font-size: 21px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    margin-right: 21px;
}


.info h5{
    
        margin-top: -165px;
        float: left;
        margin-left: 262px;
        font-size: 21px;
    }


    .images .column {
        float: left;
        width: 31.33%;
        padding: 10px;
        height: 356px; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .images .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .images .row {
        margin-left: 8%;
        margin-right: 8%;
    } 


    .camp p {
        text-align: center;
        font-size: 36px;
    }


    .camp h1 {
        text-align: center;
    }


    .images img{
        height: 100%;
    }






    
.vh{
    margin-left: 0;
    height: 160px;
    background-color: darkgrey;
    margin-right: 0;
}


.vh h1{
    font-family: cursive;
}

.vh pre {
    font-family: serif;
    margin-left: 61px;
    font-size: 24px;
}




.apt-btn button{

    float: right;
    margin-right: 12%;
    margin-top: -116px;
    
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      
}